html {
  font-size: 16px;
  font-family: var(--font-main);
  scroll-behavior: smooth;

  background-color: var(--bg-primary);
  color: var(--text-primary);
}

.pt-100 {
  padding-top: 6.25rem;
}

.container {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 1rem;

  @media screen and (max-width: 1280px) {
    max-width: 1200px;
  }

  @media screen and (max-width: 1024px) {
    max-width: 960px;
  }

  @media screen and (max-width: 768px) {
    max-width: 100%;
  }
}

// Buttons

.btn {
  font-family: inherit;
  font-size: 1.125rem;
  padding: 0.75rem 1.25rem;
  border-radius: var(--border-radius-sm);
  cursor: pointer;
  font-weight: 500;
  transition: background-color 0.15s ease-in-out;
  outline: none;
  border: none;
}

.btn-primary {
  background-color: var(--bg-white);
  color: var(--text-black);
}

.btn-secondary {
  background-color: var(--bg-button);
  color: var(--text-primary);

  &:hover {
    background-color: var(--bg-button-hover);
  }
}

.menu-btn {
  background: none;
  border: none;
  outline: none;
  color: var(--text-primary);
  font-size: 1.5rem;
  font-family: inherit;
  cursor: pointer;
  display: none;
  z-index: 10;

  @media screen and (max-width: 1024px) {
    display: block;
  }
}

.btn-addToList {
  @extend .btn-primary;

  &:hover {
    background-color: var(--color-green-600);
    color: var(--text-primary);
  }

  &:active {
    background-color: var(--color-green-700);
  }
}

.btn-watched {
  @extend .btn-secondary;
  &:hover {
    background-color: var(--color-purple-600);
  }

  &:active {
    background-color: var(--color-purple-700);
  }
}

.btn-like {
  @extend .btn-secondary;
  &:hover {
    background-color: var(--color-pink-600);
  }

  &:active {
    background-color: var(--color-pink-700);
  }
}

.btn-shareShow {
  @extend .btn-secondary;
  &:hover {
    background-color: var(--color-orange-600);
  }

  &:active {
    background-color: var(--color-orange-700);
  }
}

.btn-icon {
  background: none;
  border: none;
  outline: none;
  color: var(--text-secondary);
  font-size: 1rem;
  font-family: inherit;
  cursor: pointer;
}

// Typography
.swiper-title {
  font-size: clamp(1.25rem, 2vw, 1.75rem);
  margin-bottom: 1rem;
}

.page-title {
  font-size: clamp(1.5rem, 2vw, 2rem);
  color: var(--color-purple-base);
}

.page-description {
  font-size: clamp(1rem, 2vw, 1.25rem);
  margin-bottom: 1rem;
  color: var(--text-primary);
}
