.contact {
  height: 100vh;
  display: flex;
  align-items: center;
  &__wrapper {
    display: flex;
    align-items: center;
    gap: 2rem;
  }
  &__bg {
    @media screen and (max-width: 1024px) {
      display: none;
    }
  }
}

.form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  &__group {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;

    label {
      font-size: 1rem;
      color: var(--text-secondary);
    }

    input,
    textarea {
      padding: 1rem 1rem;
      border: 1px solid var(--border-primary);
      border-radius: 0.5rem;
      background-color: var(--bg-secondary);
      color: var(--text-primary);
      font-size: 1.125rem;
      font-family: inherit;
    }
    textarea {
      height: 200px;
      resize: none;
    }
  }
}
