.shows__cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 1rem;
  margin-bottom: 1rem;

  @media screen and (max-width: 480px) {
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  }
}

.movie-card {
  position: relative;
  height: 500px;
  display: block;

  &__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    border-radius: var(--border-radius-md);
  }

  &__info {
    position: absolute;
    inset: 0;
    padding: 1rem;
    width: 100%;
    height: 100%;
    border-radius: var(--border-radius-md);

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    opacity: 0;
    transition: all 0.3s ease-in-out;
  }

  &:hover &__info,
  &:active &__info {
    opacity: 1;
    background: var(--bg-secondary);
  }

  &__text {
    margin-bottom: 1rem;
  }

  &__details {
    display: flex;
    gap: 0.5rem;

    p {
      font-size: 1.125rem;

      &:nth-child(1) {
        color: var(--color-green-base);
      }

      &:nth-child(2) {
        color: var(--text-secondary);
      }
    }
  }

  &__title {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
  }

  &__cta {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
  }
}

.shows__filter {
  background-color: var(--bg-secondary);
  padding: 1rem;
  border-radius: var(--border-radius-md);
  border: 1px solid var(--border-secondary);
  margin-bottom: 1rem;

  display: none;
  flex-direction: column;
  gap: 1rem;

  transition: all 0.3s ease-in-out;
  &.active {
    display: flex;
  }

  .filter-group {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;

    h4 {
      font-size: 1rem;
      color: var(--text-secondary);
      font-weight: 400;
    }
  }
  .filter-cta {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
  }
}

.shows__search {
  display: flex;
  gap: 0.5rem;
  margin-bottom: 1rem;

  &-field {
    width: 100%;
    background-color: var(--bg-secondary);
    border-radius: var(--border-radius-sm);
    border: 1px solid var(--border-secondary);
    padding: 0.5rem 1rem;
    font-size: 1rem;
    color: var(--text-secondary);

    display: flex;
    align-items: center;

    input {
      background: none;
      outline: none;
      border: none;
      font-size: 1.125rem;
      width: 100%;
      height: 100%;
      color: var(--text-primary);
    }
  }
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}
