.hero {
  height: 100vh;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  &__wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    height: 100vh;
    width: 100%;
  }
  &__details {
    margin-bottom: 1rem;

    h2 {
      font-size: clamp(2rem, 4vw, 4rem);
    }
    p {
      font-size: clamp(1rem, 2vw, 1.25rem);
      color: var(--text-secondary);
    }
  }
  &__cta {
    margin-bottom: 1rem;
    display: flex;
    flex-direction: row;
    gap: 1rem;
    flex-wrap: wrap;
  }
  &__info {
    display: flex;
    align-items: center;
    flex-wrap: wrap;

    li {
      padding: 0.5rem;
      font-size: 1.125rem;
      color: var(--text-secondary);
      &:nth-child(1) {
        border: 1px solid var(--text-secondary);
        border-radius: var(--border-radius-sm);
        padding: 0.5rem 1rem;
      }
    }
  }
}

.reasons {
  margin-top: 2rem;
  &__wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 1rem;
    margin-bottom: 1rem;
  }
  &__title {
    font-size: clamp(1.5rem, 4vw, 1.75rem);
    margin-bottom: 1rem;
  }

  .reason {
    background-color: var(--bg-secondary);
    border: 1px solid var(--border-secondary);
    border-radius: var(--border-radius-sm);
    padding: 1rem;
    cursor: default;
    transition: all 0.2s ease-in-out;

    &__title {
      margin-bottom: 1rem;
      font-size: clamp(1.25rem, 2vw, 1.5rem);
    }
    &__description {
      font-size: clamp(1rem, 2vw, 1.125rem);
      color: var(--text-secondary);
    }
    &:hover {
      transform: scale(1.05);
    }
  }
}

.faq {
  margin-top: 2rem;
  &__title {
    font-size: clamp(1.5rem, 4vw, 1.75rem);
    margin-bottom: 1rem;
  }
  &__wrapper {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  &__item {
    background-color: var(--bg-secondary);
    border: 1px solid var(--border-secondary);
    border-radius: var(--border-radius-sm);
    padding: 1rem;
    cursor: default;
  }
  &__question {
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    font-size: clamp(1.25rem, 2vw, 1.5rem);
  }
  &__answer {
    font-size: 1.125rem;
    color: var(--text-secondary);
    line-height: 1.5;

    display: none;
    &.active {
      display: block;
      height: 100%;
      margin-top: 1rem;
    }
  }
}

.newsletter {
  margin-top: 6.25rem;
  &__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }
  &__title {
    font-size: clamp(1.5rem, 4vw, 1.75rem);
  }
  &__form {
    max-width: 768px;
    width: 100%;
    display: flex;
    gap: 0.5rem;
    @media screen and (max-width: 480px) {
      flex-direction: column;
    }
    input {
      width: 100%;
      padding: 1rem;
      border: 1px solid var(--border-primary);
      border-radius: var(--border-radius-sm);
      background-color: var(--bg-secondary);
      font-size: 1.125rem;
      color: var(--text-primary);
      outline: none;
    }
  }
}

.error {
  &__wrapper {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  &__content {
    h1 {
      font-size: clamp(4rem, 4vw, 10rem);
      background: var(--bg-gradient);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-clip: text;
    }
    h2 {
      font-size: clamp(2rem, 2vw, 4rem);
    }
    p {
      font-size: clamp(1rem, 1vw, 1.25rem);
      color: var(--text-secondary);
      margin-bottom: 2rem;
    }
  }
  &__cta {
    display: flex;
    gap: 0.5rem;
  }
}
