.hero {
  height: 100vh;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  &__wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    height: 100vh;
    width: 100%;
  }
  &__details {
    margin-bottom: 1rem;

    h2 {
      font-size: clamp(2rem, 4vw, 4rem);
    }
    p {
      font-size: clamp(1rem, 2vw, 1.25rem);
      color: var(--text-secondary);
    }
  }
  &__cta {
    margin-bottom: 1rem;
    display: flex;
    flex-direction: row;
    gap: 1rem;
    flex-wrap: wrap;
  }
  &__info {
    display: flex;
    align-items: center;
    flex-wrap: wrap;

    li {
      padding: 0.5rem;
      font-size: 1.125rem;
      color: var(--text-secondary);
      &:nth-child(1) {
        border: 1px solid var(--text-secondary);
        border-radius: var(--border-radius-sm);
        padding: 0.5rem 1rem;
      }
    }
  }
}
