.swiper {
  &-wrapper {
    margin-bottom: 1rem;
  }
  &-nav {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
  }
  &-btn {
    background-color: var(--bg-button);
    border-radius: var(--border-radius-sm);
    padding: 0.5rem;
    cursor: pointer;
    font-size: 1.25rem;
    transition: background-color 0.2s ease-in-out;

    &:hover {
      background-color: var(--bg-button-hover);
    }
  }
}

.content {
  &__title {
    font-size: clamp(1.5rem, 4vw, 1.75rem);
    margin-bottom: 1rem;
  }
  &-card {
    position: relative;
    height: 500px;

    img {
      width: 100%;
      display: block;
      object-fit: cover;
      height: 100%;
      border-radius: var(--border-radius-md);
    }
    &__info {
      position: absolute;
      inset: 0;
      padding: 1rem;
      width: 100%;
      height: 100%;
      border-radius: var(--border-radius-md);
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      opacity: 0;
      transition: all 0.3s ease-in-out;
      &:hover {
        opacity: 1;
        background: var(--bg-secondary);
      }
      &:active {
        opacity: 1;
        background: var(--bg-secondary);
      }
    }
    &__details {
      display: flex;
      gap: 0.5rem;
      margin-bottom: 1rem;

      p {
        font-size: 1.125rem;

        &:nth-child(1) {
          color: var(--color-green-base);
        }
        &:nth-child(2) {
          color: var(--text-secondary);
        }
      }
    }
    &__title {
      font-size: 1.5rem;
      margin-bottom: 0.5rem;
    }
    &__cta {
      display: flex;
      flex-wrap: wrap;
      gap: 0.5rem;
    }
  }
}
