.profile {
  height: 70vh;
  @media screen and (max-width: 480px) {
    height: 100vh;
  }
  &__details {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: space-between;
    align-items: center;
    background: var(--bg-secondary);
    padding: 1rem;
    border: 1px solid var(--border-secondary);
    border-radius: var(--border-radius-md);
    margin-bottom: 1rem;
  }
  &__user {
    display: flex;
    gap: 1rem;
    align-items: center;
  }
  &__avatar {
    background-color: var(--bg-button);
    width: 70px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: var(--border-radius-full);

    p {
      font-size: 1.5rem;
    }
  }
  &__info {
    h2 {
      font-size: clamp(1.25rem, 4vw, 1.75rem);
    }
    p {
      font-size: clamp(1rem, 2vw, 1.25rem);
      color: var(--text-secondary);
    }
  }
  &__cta {
    display: flex;
    gap: 1rem;
    @media screen and (max-width: 480px) {
      flex-direction: column;
      width: 100%;
    }
  }
  &__stats {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 1rem;
    width: 100%;
  }
  &__stat {
    background-color: var(--bg-secondary);
    border: 1px solid var(--border-secondary);
    border-radius: var(--border-radius-md);
    padding: 2rem 3rem;

    h3 {
      font-size: clamp(1.5rem, 4vw, 1.75rem);
      color: var(--color-purple-base);
    }
    p {
      font-size: 1.125rem;
      color: var(--text-secondary);
    }
  }
}
