// Base
@use "./styles/base/base";
@use "./styles/base/reset";
@use "./styles/base/variables";

// Components
@use "./styles/components/header";
@use "./styles/components/footer";
@use "./styles/components/auth";

// Pages
@use "./styles/layout/home";
@use "./styles/layout/movies";
@use "./styles/layout/mylist";
@use "./styles/layout/profile";
@use "./styles/layout/explore";
@use "./styles/layout/contact";
