.auth {
  height: 100vh;
  display: flex;
  align-items: center;
  &__wrapper {
    display: flex;
    align-items: center;
    gap: 2rem;
  }
  &__cta {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.25rem;
    font-size: 1.125rem;

    a {
      text-decoration: underline;
      color: var(--color-pink-base);
    }
  }
  &__bg {
    @media screen and (max-width: 1024px) {
      display: none;
    }
  }
}

.form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  &__group {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;

    label {
      font-size: 16px;
      color: var(--text-secondary);
    }

    input {
      padding: 1rem 1rem;
      border: 1px solid var(--border-primary);
      border-radius: 0.5rem;
      background-color: var(--bg-secondary);
      color: var(--text-primary);
      font-size: 1.125rem;
    }
    &--ext {
      display: flex;
      justify-content: space-between;
    }
  }
}
