.footer {
  margin-top: 6.25rem;
  background-color: var(--bg-secondary);
  &__wrapper {
    padding: 1rem 0;
  }
  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
  }
  &__cta {
    display: flex;
    gap: 1rem;

    li {
      a {
        font-size: 1.5rem;
        color: var(--text-white);
        transition: color 0.15s ease-in-out;

        &:hover {
          color: var(--color-purple-base);
        }
      }
    }
  }
  &__links {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(120px, max-content));
    justify-content: space-between;
    gap: 1rem;
    margin-bottom: 40px;

    ul {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
      li {
        a {
          font-size: 1.125rem;
          color: var(--text-secondary);
          transition: color 0.15s ease-in-out;

          &:hover {
            color: var(--text-white);
            text-decoration: underline;
          }
        }
      }
    }
  }
  &__copyright {
    text-align: left;
    color: var(--text-tertiary);
  }
}

@media screen and (max-width: 576px) {
  .footer {
    &__header {
      flex-direction: column;
      gap: 1rem;
      align-items: flex-start;
    }
    &__links {
      grid-template-columns: repeat(auto-fit, minmax(125px, max-content));
    }
  }
}
