.header {
  position: fixed;
  background-color: var(--bg-primary);
  inset: 0 0 auto;
  z-index: 1000;

  &__wrapper {
    height: 100px;
    display: flex;
    gap: 2rem;
    justify-content: space-between;
    align-items: center;
  }
  &__info {
    display: flex;
    flex: 1;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
  }
  &__logo {
    font-size: 2rem;
    font-weight: 500;
    background: var(--bg-gradient-reverse);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    z-index: 10;
  }
  &__nav {
    ul {
      display: flex;
      gap: 1.5rem;
    }
  }
  &__link {
    font-size: 1.125rem;
    transition: color 0.15s ease-in-out;
    &:hover {
      color: var(--color-purple-base);
    }
  }
  &__cta {
    display: flex;
    flex-direction: row-reverse;
    gap: 1rem;
    align-items: center;
  }
}

@media screen and (max-width: 1024px) {
  .header {
    &__info {
      flex-direction: column;
      justify-content: center;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      background-color: var(--bg-secondary);
      overflow: hidden;
      padding: 0 1rem;
      height: 0;
      opacity: 0;
      transform: translateY(-10px);
      transition: all 0.5s ease-in-out;
      pointer-events: none;

      &.active {
        height: 100vh;
        opacity: 1;
        transform: translateY(0);
        pointer-events: auto;
      }
    }
    &__nav {
      ul {
        flex-direction: column;
        text-align: center;
      }
    }
    &__link {
      font-size: 1.5rem;
    }
    &__cta {
      flex-direction: column;
      width: 100%;

      a {
        max-width: 250px;
        width: 100%;
        text-align: center;
      }
    }
  }
}
